In [2]:
import pandas as pd
import numpy as np

In [3]:
data = np.array([[95,91],
                 [92,93],
                 [98,97],
                 [100,99]])

In [4]:
pd.DataFrame(data=data,columns=['class a','class b'])

   class a  class b
0       95       91
1       92       93
2       98       97
3      100       99