In [8]:
import pandas as pd
import numpy as np

In [9]:
arr2d_2 = np.array([[100],
          [100],
          [100],
          [100]])

In [10]:
df4 = pd.DataFrame(data=arr2d_2,columns=['class d'])
df4

   class d
0      100
1      100
2      100
3      100

In [11]:
arr2d_3 = np.array([
          [108],
          [154],
          [193]])

In [12]:
df5 = pd.DataFrame(data=arr2d_3,columns=['class d'])
df5

   class d
0      108
1      154
2      193

In [15]:
pd.concat([df4,df5],ignore_index=True)

   class d
0      100
1      100
2      100
3      100
4      108
5      154
6      193