# adv data

In [38]:
import pandas as pd

In [39]:
pd.read_csv('C:/ex/data/adv.csv',encoding='cp949')

    광고비  매출액
0    13   94
1     8   70
2    10   90
3    15  100
4    12   95
5    15  100
6    14   85
7    15   95
8    17  105
9    19  105
10   20  110
11   21  105
12   22  104
13   21  105
14   25  121

In [40]:
adv = pd.read_csv('C:/ex/data/adv.csv',encoding='cp949')

In [41]:
import numpy as np

In [42]:
np.corrcoef(adv.광고비,adv.매출액)

array([[1.       , 0.8879209],
       [0.8879209, 1.       ]])

In [43]:
adv.corr()

          광고비       매출액
광고비  1.000000  0.887921
매출액  0.887921  1.000000

# quiz data

In [1]:
import pandas as pd

In [8]:
quiz = pd.read_csv('C:/ex/data/ch12_scores_reg - 복사본.csv')
quiz

    quiz  final_test
0    4.2          67
1    7.2          71
2    0.0          19
3    3.0          35
4    1.5          35
5    0.9          40
6    1.9          23
7    3.5          37
8    4.0          39
9    5.4          55
10   4.2          40
11   6.9          70
12   2.0          29
13   8.8          88
14   0.3          47
15   6.7          77
16   4.2          52
17   5.6          55
18   1.4          18
19   2.0          60

In [10]:
quiz.corr()

                quiz  final_test
quiz        1.000000    0.822402
final_test  0.822402    1.000000